{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myapp/output.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body class="bg-slate-950 text-slate-100 min-h-screen">
      <!-- NAVBAR -->
    <header class="border-b border-slate-800 bg-slate-900">
        <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">

            <!-- Logo -->
            <div class="flex items-center gap-3">
                <img src="{% static 'myapp/images/wallet.png' %}" class="h-7 w-7" />
                <span class="font-semibold tracking-tight">
                    Expense Tracker
                </span>
            </div>

            <!-- User -->
            {% if user.is_authenticated %}
            <div class="flex items-center gap-4 text-sm text-slate-400">
                <span>{{ user.username }}</span>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="text-red-400 hover:text-red-300 transition"
                    >
                        Logout
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </header>
    {% block body %}
      
    {% endblock body %}
</body>
</html>